<ion-view title="AccomodationView" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="accomodationView-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>This Page Shows the selected accomodation listing selected from the previous page</strong>
      </p>

      <p style="color:#000000;">
        <strong>Listing details will have to be loaded to this page</strong>
      </p>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="accomodationView-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="accomodationView-slide210" style="background:url(&quot;img/JnyDnmKSWyY3U5DNf7iQ__DSC0928.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="accomodationView-slide211" style="background:url(&quot;img/dxts3fET9e6cwU1Yhi0Y__DSC0950.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="accomodationView-slide212"></ion-slide-page>
    </ion-slides>
    <div id="accomodationView-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Short Description of facility from database also loaded</p>

      <p style="color:#000000;">*RATES FOR ROOMS, usually Standard , Executive &amp; Superior options</p>
    </div>
    <div id="accomodationView-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>PHONE NUMBER &amp; OPEN ANDROID MAIL APP TO SEND TO LISTINGS EMAIL ADRDRESS</strong>
      </p>
    </div>
  </ion-content>
</ion-view>