<ion-view title="Accomodation " id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="accomodation-list3">
      <ion-item class="item-icon-left" id="accomodation-list-item15" ui-sref="accomodationView()">
        <i class="icon ion-android-home"></i>*Listing(fromDb)</ion-item>
      <ion-item class="item-icon-left" id="accomodation-list-item16" ui-sref="accomodationView()">
        <i class="icon ion-android-home"></i>*Listing(fromDb)</ion-item>
      <ion-item class="item-icon-left" id="accomodation-list-item17" ui-sref="accomodationView()">
        <i class="icon ion-android-home"></i>*Listing(fromDb)</ion-item>
      <ion-item class="item-icon-left" id="accomodation-list-item19" ui-sref="accomodationView()">
        <i class="icon ion-android-home"></i>*Listing(fromDb)</ion-item>
      <ion-item class="item-icon-left" id="accomodation-list-item18" ui-sref="accomodationView()">
        <i class="icon ion-android-home"></i>*Listing(fromDb)</ion-item>
    </ion-list>
  </ion-content>
</ion-view>