<ion-view title="Car Rentals " id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="carRentals-list2">
      <ion-item class="item-icon-left" id="carRentals-list-item11">
        <i class="icon ion-android-car"></i>Country Wide Car Hire - LL</ion-item>
      <ion-item class="item-icon-left" id="carRentals-list-item12" ui-sref="carRentalSView()">
        <i class="icon ion-android-car"></i>Baron's Car Hire - LL</ion-item>
      <ion-item class="item-icon-left" id="carRentals-list-item13" ui-sref="carRentalSView()">
        <i class="icon ion-android-car"></i>Budget Car Hire - LL</ion-item>
      <ion-item class="item-icon-left" id="carRentals-list-item14" ui-sref="carRentalSView()">
        <i class="icon ion-android-car"></i>Avis - BT </ion-item>
    </ion-list>
  </ion-content>
</ion-view>