<ion-view title="CarRentalView" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="carRentalView-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>CAR RENTAL NAME </strong> : Slider loads their vehicle images </p>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="carRentalView-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="carRentalView-slide24" style="background:url(&quot;img/ZbXy57QYSaCqzSpFgQB4_CARRENTAL.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="carRentalView-slide25" style="background:url(&quot;img/FwaMPojGS4evDVLfzqZ9_CARRENTAL2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="carRentalView-slide26"></ion-slide-page>
    </ion-slides>
    <div id="carRentalView-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CarCategory(Sedan)FromDB:
        <strong>CAR PRICE from D</strong>
      </p>
    </div>
    <div id="carRentalView-markdown29" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CarCategory(Sedan)FromDB:
        <strong>CAR PRICE from D</strong>
      </p>
    </div>
    <div id="carRentalView-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CarCategory(Sedan)FromDB:
        <strong>CAR PRICE from D</strong>
      </p>
    </div>
    <div id="carRentalView-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CarCategory(Sedan)FromDB:
        <strong>CAR PRICE from D</strong>
      </p>
    </div>
    <div id="carRentalView-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CarCategory(Sedan)FromDB:
        <strong>CAR PRICE from D</strong>
      </p>
    </div>
    <div id="carRentalView-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#000000;">-- - - &gt;
        <strong>PHONE NUMBERS EMAIL FROM DB</strong>
      </p>
    </div>
  </ion-content>
</ion-view>