<ion-view title="DAY 1 : FRIDAY 28 , SEPTEMBER" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="dAY1FRIDAY28SEPTEMBER-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db):</strong> *Artist (DB)</p>
    </div>
    <div id="dAY1FRIDAY28SEPTEMBER-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db):</strong> *Artist (DB)</p>
    </div>
    <div id="dAY1FRIDAY28SEPTEMBER-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db):</strong> *Artist (DB)</p>
    </div>
    <div id="dAY1FRIDAY28SEPTEMBER-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db):</strong> *Artist (DB)</p>
    </div>
    <div id="dAY1FRIDAY28SEPTEMBER-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db):</strong> *Artist (DB)</p>
    </div>
    <div id="dAY1FRIDAY28SEPTEMBER-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db):</strong> *Artist (DB)</p>
    </div>
    <div id="dAY1FRIDAY28SEPTEMBER-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db):</strong> *Artist (DB)</p>
    </div>
  </ion-content>
</ion-view>