<ion-view title="DAY 2: SATURDAY, 29 SEPTEMBER" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="dAY2SATURDAY29SEPTEMBER-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: Artist (Db)</p>
    </div>
    <div id="dAY2SATURDAY29SEPTEMBER-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: Artist (Db)</p>
    </div>
    <div id="dAY2SATURDAY29SEPTEMBER-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: Artist (Db)</p>
    </div>
    <div id="dAY2SATURDAY29SEPTEMBER-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: Artist (Db)</p>
    </div>
    <div id="dAY2SATURDAY29SEPTEMBER-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: Artist (Db)</p>
    </div>
    <div id="dAY2SATURDAY29SEPTEMBER-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: Artist (Db)</p>
    </div>
  </ion-content>
</ion-view>