<ion-view title="DAY 3: FRIDAY 30 SEPTEMBER" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="dAY3FRIDAY30SEPTEMBER-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: *Artist(Db)</p>
    </div>
    <div id="dAY3FRIDAY30SEPTEMBER-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: *Artist(Db)</p>
    </div>
    <div id="dAY3FRIDAY30SEPTEMBER-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: *Artist(Db)</p>
    </div>
    <div id="dAY3FRIDAY30SEPTEMBER-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: *Artist(Db)</p>
    </div>
    <div id="dAY3FRIDAY30SEPTEMBER-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: *Artist(Db)</p>
    </div>
    <div id="dAY3FRIDAY30SEPTEMBER-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: *Artist(Db)</p>
    </div>
    <div id="dAY3FRIDAY30SEPTEMBER-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: *Artist(Db)</p>
    </div>
    <div id="dAY3FRIDAY30SEPTEMBER-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>TimeSlot(Db)</strong>: *Artist(Db)</p>
    </div>
  </ion-content>
</ion-view>