<ion-view title="Festival Programme" id="page4">
  <ion-content padding="true" class="has-header">
    <a ui-sref="dAY1FRIDAY28SEPTEMBER()" id="festivalProgramme-button1" class="button button-balanced button-block">FRIDAY , 28 SEPTEMBER </a>
    <a ui-sref="dAY2SATURDAY29SEPTEMBER()" id="festivalProgramme-button2" class="button button-balanced button-block">SATURDAY, 29 SEPTEMBER</a>
    <a ui-sref="dAY3FRIDAY30SEPTEMBER()" id="festivalProgramme-button3" class="button button-balanced button-block">SUNDAY , 30 SEPTEMBER</a>
  </ion-content>
</ion-view>