<ion-view title="Restaurants" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="restaurants-form1" class="list">
      <label class="item item-input" id="restaurants-textarea1">
        <span class="input-label">Restaurant X - (Lilongwe : locale in DB)</span><textarea placeholder=""></textarea></label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="restaurants-slider5" style="width:100%;height:200px;">
      <ion-slide-page id="restaurants-slide216" style="background:url(&quot;img/rEx3tZ9xTcaU1nWDmGOJ_los.JPG&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="restaurants-slide217" style="background:url(&quot;img/rPqCWCkNQQGLz43zQLiM_los3.JPG&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="restaurants-slide218" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="restaurants-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>REstaurant details (opening &amp; closing time, cuisine, location, phone number from db )</strong>
      </p>
    </div>
  </ion-content>
</ion-view>