<ion-view title="Safari View" id="page21">
  <ion-content padding="true" class="has-header">
    <div id="safariView-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#000000;"> Name of Touring Activity Price per person , total days, depart departing from LL price / departing from BT price </p>

      <p style="color:#000000;">
        <strong>DESCRIPTION OF TOUR</strong>
      </p>

      <p style="color:#000000;">
        <strong>TOUR PROVIDER , Phone number, EMail and graphic</strong>
      </p>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="safariView-slider4" style="width:100%;height:200px;">
      <ion-slide-page id="safariView-slide27" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="safariView-slide28" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="safariView-slide29" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>