<ion-view title="Shuttle Services" id="page8">
  <ion-content padding="true" class="has-header">
    <a ui-sref="shuttleServiceDAY1()" id="shuttleServices-button4" class="button button-balanced button-block">DAY 1 : FRIDAY 28, SEPTEMBER</a>
    <a ui-sref="shuttleServiceDAY2()" id="shuttleServices-button5" class="button button-balanced button-block">DAY 2: SATURDAY 29, SEPTEMBER</a>
    <button id="shuttleServices-button6" class="button button-balanced button-block">DAY 3: SUNDAY 30 , SEPTEMBER</button>
  </ion-content>
</ion-view>