<ion-view title="Shuttle Service , DAY 2" id="page17">
  <ion-content padding="true" class="has-header">
    <a ui-sref="shuttleServiceView()" id="shuttleServiceDAY2-button13" class="button button-balanced button-block">LILONGWE - SALIMA </a>
    <a ui-sref="shuttleServiceView()" id="shuttleServiceDAY2-button11" class="button button-balanced button-block">SALIMA - LILONGWE</a>
    <a ui-sref="shuttleServiceView()" id="shuttleServiceDAY2-button12" class="button button-balanced button-block">SALIMA - BLANTYRE</a>
  </ion-content>
</ion-view>