<ion-view title="Welcome to Lake of Stars 2018!!!">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/RGB7eB0uSP6KpJcspoyQ_los.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <a style="display:block;" ui-sref="menu.festivalProgramme()">
        <img src="img/fMOguW7STdW5WDpipgKA_FestivalProgramme.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="menu.accomodation()">
        <img src="img/6T4l1SzSeeQiYUjPo8PO_Accomodation.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="menu.restaurants()">
        <img src="img/O6TiikQtedjQaoruA9CR_restaurants.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="menu.carRentals()">
        <img src="img/43TziNTNyNYizKHJrQyV_CarRentals.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="menu.shuttleServices()">
        <img src="img/yeWNmcRHQTqSyGzgQSdo_shuttle.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="menu.safaris()">
        <img src="img/GaRXwIbGQhiYxAj3wkkr_Safaris.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" href-inappbrowser="http://www.malawi411.com">
        <img src="img/uLmjnlY7THSdgkl16c9y_poweredby41-wizzle.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>